name: server

on:
    push:
        branches:
            - main

permissions:
    contents: read
    packages: write

jobs:
    build:
        name: Publish GHCR
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v6
            - name: Log in to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Set repository variables in lowercase
              run: echo "REPOSITORY_OWNER=${OWNER,,}" >>${GITHUB_ENV}
              env:
                  OWNER: "${{ github.repository_owner }}"

            - name: Check if package version changed
              id: check_publish
              working-directory: ./client
              run: |
                  current_version=$(node -p "require('./package.json').version")
                  npm_package_name=$(node -p "require('./package.json').name")
                  published_version=$(npm show $npm_package_name version) || echo "0.0.0"

                  echo "Current version: $current_version"
                  echo "Published version: $published_version"

                  echo "version=$current_version" >> $GITHUB_ENV

                  if [ "$current_version" == "$published_version" ]; then
                      echo "No new version. Skipping publish."
                      echo "publish=false" >> $GITHUB_ENV
                  else
                      echo "New version available. Proceeding to publish."
                      echo "publish=true" >> $GITHUB_ENV
                  fi

            - name: Build Docker image
              run: docker build -t ghcr.io/${REPOSITORY_OWNER}/${{ github.event.repository.name }}:latest -t ghcr.io/${REPOSITORY_OWNER}/${{ github.event.repository.name }}:${{ env.version }} .

            - name: Push Docker image
              if: env.publish == 'true'
              run: |
                  docker push ghcr.io/${REPOSITORY_OWNER}/${{ github.event.repository.name }}:latest
                  docker push ghcr.io/${REPOSITORY_OWNER}/${{ github.event.repository.name }}:${{ env.version }}
