name: server

on:
    push:
        branches:
            - main

permissions:
    contents: read
    packages: write

jobs:
    build:
        name: Publish GHCR
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v5
            - name: Log in to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Set repository variables in lowercase
              run: echo "REPOSITORY_OWNER=${OWNER,,}" >>${GITHUB_ENV}
              env:
                  OWNER: "${{ github.repository_owner }}"

            - name: Extract version from package.json
              run: |
                  VERSION=$(node -p "require('./client/package.json').version")
                  echo "VERSION=$VERSION" >> $GITHUB_ENV

            - name: Build Docker image
              run: docker build -t ghcr.io/${REPOSITORY_OWNER}/${{ github.event.repository.name }}:latest -t ghcr.io/${REPOSITORY_OWNER}/${{ github.event.repository.name }}:${{ env.VERSION }} .

            - name: Push Docker image
              run: |
                  docker push ghcr.io/${REPOSITORY_OWNER}/${{ github.event.repository.name }}:latest
                  docker push ghcr.io/${REPOSITORY_OWNER}/${{ github.event.repository.name }}:${{ env.VERSION }}
