name: server

on:
    pull_request:
        branches:
            - main

permissions:
    contents: read

jobs:
    test:
        name: Test Srver
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v5
            - name: Build Docker image
              run: docker build .
